@model Group8_iCLOTHINGApp.Models.Category

@{
    ViewBag.Title = "Catalog";
}

<h2>Catalog</h2>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
