@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Catalog", "Catalog", "Categories")</h2>
        <p>Brand Details</p>
    </div>

</div>